
header {
    height: 70px;
    width: 100%;
    background-color: white;
    background-image: url(../images/logo.png);
    border-bottom: 1px solid #CCCCCC;
    background-repeat: no-repeat;
    background-position: 20px center;
	flex-shrink: 0;
}