
.places {
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.my-placenames{
    display: flex;
 }

article h2 {
    font-size: 30px;
    text-align: center;
    margin: 0;
}

h1 {
    font-size: 30px;
    margin-bottom: 0;
  }

.suite {
    margin-left: 25%;
    margin-top: 0;
}